:root {
  /* Teal */
  /* HEX */
  --c-hex-t-50: #E0F2F1;
  --c-hex-t-100: #B2DFDB;
  --c-hex-t-200: #80CBC4;
  --c-hex-t-300: #4DB6AC;
  --c-hex-t-400: #26A69A;
  --c-hex-t-500: #009688;
  --c-hex-t-600: #00897B;
  --c-hex-t-700: #00796B;
  --c-hex-t-800: #00695C;
  --c-hex-t-900: #004D40;
  --c-hex-t-A100: #A7FFEB;
  --c-hex-t-A200: #64FFDA;
  --c-hex-t-A400: #1DE9B6;
  --c-hex-t-A700: #00BFA5;

  /* RGB */
  --c-rgb-t-50: 224, 242, 241;
  --c-rgb-t-100: 178, 223, 219;
  --c-rgb-t-200: 128, 203, 196;
  --c-rgb-t-300: 77, 182, 172;
  --c-rgb-t-400: 38, 166, 154;
  --c-rgb-t-500: 0, 150, 136;
  --c-rgb-t-600: 0, 137, 12;
  --c-rgb-t-700: 0, 121, 107;
  --c-rgb-t-800: 0, 105, 92;
  --c-rgb-t-900: 0, 77, 64;
  --c-rgb-t-A100: 167, 255, 235;
  --c-rgb-t-A200: 100, 255, 218;
  --c-rgb-t-A400: 29, 233, 182;
  --c-rgb-t-A700: 0, 191, 165;


  /* Blue Grey */
  /* HEX */
  --c-hex-bg-50: #ECEFF1;
  --c-hex-bg-100: #CFD8DC;
  --c-hex-bg-200: #B0BEC5;
  --c-hex-bg-300: #90A4AE;
  --c-hex-bg-400: #78909C;
  --c-hex-bg-500: #607D8B;
  --c-hex-bg-600: #546E7A;
  --c-hex-bg-700: #455A64;
  --c-hex-bg-800: #37474F;
  --c-hex-bg-900: #263238;

  /* HEX */
  --c-rgb-bg-50: 236, 239, 241;
  --c-rgb-bg-100: 207, 216, 220;
  --c-rgb-bg-200: 176, 190, 197;
  --c-rgb-bg-300: 144, 164, 174;
  --c-rgb-bg-400: 120, 144, 156;
  --c-rgb-bg-500: 96, 125, 139;
  --c-rgb-bg-600: 84, 110, 122;
  --c-rgb-bg-700: 69, 90, 100;
  --c-rgb-bg-800: 55, 71, 79;
  --c-rgb-bg-900: 38, 50, 56;


  /* Slate Grey */
  /* HEX */
  --c-hex-sg-1: #96A5BD;
  --c-hex-sg-2: #808DA2;
  --c-hex-sg-3: #303845;
  --c-hex-sg-4: #2B3544;
  --c-hex-sg-5: #1A222F;

  /* RGB */
  --c-rgb-sg-1: 150, 165, 189;
  --c-rgb-sg-2: 128, 141, 162;
  --c-rgb-sg-3: 48, 56, 69;
  --c-rgb-sg-4: 43, 53, 68;
  --c-rgb-sg-5: 26, 34, 47;


  /* Brightness */
  /* HEX */
  --c-hex-br-1: #FCFDFE;
  --c-hex-br-2: #FBFCFD;
  --c-hex-br-3: #FAFBFC;
  --c-hex-br-4: #F5F7F8;
  --c-hex-br-5: #E8ECEE;

  /* RGB */
  --c-rgb-br-1: 252, 253, 254;
  --c-rgb-br-2: 251, 252, 253;
  --c-rgb-br-3: 250, 251, 252;
  --c-rgb-br-4: 245, 247, 248;
  --c-rgb-br-5: 232, 236, 238;


  /* Other */
  /* HEX */
  --c-hex-o-1: #F44336;
  --c-hex-o-2: #E91E63;
  --c-hex-o-3: #9C27B0;
  --c-hex-o-4: #673AB7;
  --c-hex-o-5: #3F51B5;
  --c-hex-o-6: #2196F3;
  --c-hex-o-7: #03A9F4;
  --c-hex-o-8: #00BCD4;
  --c-hex-o-9: #009688;
  --c-hex-o-10: #4CAF50;
  --c-hex-o-11: #8BC34A;
  --c-hex-o-12: #CDDC39;
  --c-hex-o-13: #FFEB3B;
  --c-hex-o-14: #FFC107;
  --c-hex-o-15: #FF9800;
  --c-hex-o-16: #FF5722;
  --c-hex-o-17: #795548;
  --c-hex-o-18: #9E9E9E;
  --c-hex-o-19: #607D8B;

  /* RGB */
  --c-rgb-o-1: 244, 67, 54;
  --c-rgb-o-2: 233, 30, 99;
  --c-rgb-o-3: 156, 39, 176;
  --c-rgb-o-4: 103, 58, 183;
  --c-rgb-o-5: 63, 81, 181;
  --c-rgb-o-6: 33, 150, 243;
  --c-rgb-o-7: 3, 169, 244;
  --c-rgb-o-8: 0, 188, 212;
  --c-rgb-o-9: 0, 150, 136;
  --c-rgb-o-10: 76, 175, 80;
  --c-rgb-o-11: 139, 195, 74;
  --c-rgb-o-12: 205, 220, 57;
  --c-rgb-o-13: 255, 235, 59;
  --c-rgb-o-14: 255, 193, 7;
  --c-rgb-o-15: 255, 152, 0;
  --c-rgb-o-16: 255, 87, 34;
  --c-rgb-o-17: 121, 85, 72;
  --c-rgb-o-18: 158, 158, 158;
  --c-rgb-o-19: 96, 125, 139;
}
