body {
  background-color: var(--c-hex-brightness-4);
  color: var(--c-hex-blueGrey-700);
  font-family: var(--fontStack);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  margin: 0;
  min-width: 1280px;
}

::selection {
  background: var(--c-hex-teal-A700);
  color: white;
}

* {
  box-sizing: border-box;
}

a,
button,
input,
textarea {
  outline: none !important;
}

img {
  vertical-align: middle;
}

a {
  color: var(--c-hex-teal-500);
  text-decoration: none;
}
