html,
body
	font-family -apple-system, BlinkMacSystemFont, Helvetica, Segoe, sans-serif
	font-weight 400
	//height 100%
	//min-height 100%

body
	//align-content stretch
	//display flex
	// flex-direction column
	background-color $c-bg-50
	color $c-bg-700
	margin 0
	min-width 900px
	//width 100%

::selection
	background $c-t-A700
	color white

*
	box-sizing border-box

a,
button,
input,
textarea
	outline none !important

img
	vertical-align middle

a
	color $c-t-500
	text-decoration none


.page
	// align-content stretch
	// display flex
	//width 100%
	// flex-direction column

	&__layout
		display flex
		//min-height 100%
		//width 100%

	&__wrap
		display flex
		flex-direction column
		flex-grow 1
		min-height 100vh
		width calc(100% - 256px)

	&__content
		flex auto
		//display flex
		//flex-direction column
