.buttonLink {
  background: none;
  border: none;
  color: var(--c-hex-teal-500);
  font-size: 13px;
  font-weight: 500;
}

.buttonLink:hover {
  color: var(--c-hex-teal-400);
}

.status {
  font-size: 13px;
  font-weight: 600;
}

.statusRed {
  color: var(--c-hex-red-500);
}

.statusYellow {
  color: var(--c-hex-orange-500);
}

.statusGreen {
  color: var(--c-hex-teal-A700);
}
