@import '~src/styles/helpers/_colors.styl';
@import '~src/styles/helpers/_fonts.styl';
@import '~src/styles/helpers/_media_queries.styl';

.ps-general-settings
	&__delete-stock-btn
		& span:nth-child(1)
			color $c-bg-200

.ps-general-settings-dialog
	& .pd-listing li
		color #f44336
