.filterButtonLink {
  background: none;
  border: none;
  color: var(--c-hex-t-500);
  display: flex;
  font-size: 13px;
  font-weight: 500;
}

.filterButtonLink:hover {
  color: var(--c-hex-t-400);
}

.filterButtonLink span {
  display: block;
  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.filterButtonLink svg {
  color: var(--c-hex-t-300);
  font-size: 12px;
  margin: 2px 0 0 5px;
  transform: rotate(-90deg);
  transition: color 150ms ease-out, transform 150ms ease-out;
  width: 8px !important;
}

.filterButtonLink svg:global(.open) {
  transform: rotate(0deg);
}

.procurement {
  margin-bottom: 16px;
}

.procurementHeader {
  margin-bottom: 15px;
}

.procurementTotal {
  border-top: 1px solid var(--c-hex-br-5);
  margin: 10px -15px 0;
  padding: 10px 15px 0;
  width: calc(100% + 30px)
}

.procurementNumber {
  color: var(--c-hex-t-500);
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.procurementNumber:hover {
  color: var(--c-hex-t-400);
}

.procurementCreatedDate,
.procurementUserName {
  color: var(--c-hex-bg-400);
  font-size: 12px;
  font-weight: 600;
}

.procurementCreatedDate {
  margin-right: 15px;
}

.procurementUser {
  align-items: center;
  display: flex;
}

.procurementUserPhoto {
  align-items: flex-end;
  border-radius: 50%;
  display: flex;
  flex: none;
  height: 18px;
  justify-content: center;
  margin-right: 5px;
  overflow: hidden;
  width: 18px;
}

.procurementUserPhoto img {
  height: 100%;
  width: 100%;
}

.procurementUserPhotoNull {
  background-color: var(--c-hex-br-5);
  border: 1px solid var(--c-hex-bg-100);
}

.procurementUserPhotoNull svg {
  color: rgba(255, 255, 255, 0.9);
  font-size: 12px;
}

.procurementUserName {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.procurementComment {
  margin-bottom: 10px;
}

.procurementCommentTitle {
  color: var(--c-hex-bg-300);
  font-size: 13px;
  margin-bottom: 5px;
}

.procurementCommentContent {
  color: var(--c-hex-bg-700);
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  line-height: 1.2;
  margin: 0 -4px;
  padding: 4px;
  white-space: pre;
}

.procurementCommentContent:hover {
  background-color: var(--c-hex-br-4);
}

.procurementCommentContent span {
  color: var(--c-hex-bg-300);
}

.procurementTotalPurchasePrice,
.procurementPurchasePrice,
.procurementCostDelivery {
  color: var(--c-hex-bg-500);
}

.procurementTotalPurchasePrice {
  font-size: 14px;
  margin-bottom: 10px;
}

.procurementPurchasePrice {
  margin-bottom: 5px;
}

.procurementPurchasePrice,
.procurementCostDelivery {
  font-size: 12px;
}

.procurementTotalPurchasePrice span,
.procurementPurchasePrice span,
.procurementCostDelivery span {
  color: var(--c-hex-bg-700);
  font-weight: 700;
}

.procurementTotalPurchasePrice span {
  font-size: 20px;
}

.procurementReceipts {
  margin: 10px 0 0;
}

.isArchived {
  color: var(--c-hex-o-15);
  font-size: 11px;
  font-weight: 600;
  margin-left: 5px;
}
