.procurement {
  margin-bottom: 16px;
}

.procurementWrapper {
  margin: -20px -15px;
}

.procurementHeader {
  cursor: pointer;
  user-select: none;
  padding: 20px 15px 0;
}

.procurementNumber,
.procurementTotalPurchasePrice,
.procurementDetails {
  font-size: 16px;
  font-weight: 600;
}

.procurementNumber {
  color: var(--c-hex-t-500);
  display: inline-block;
  margin-bottom: 10px;
}

.procurementNumber:hover {
  color: var(--c-hex-t-400);
}

.procurementTotalPurchasePrice,
.procurementPurchasePrice,
.procurementCostDelivery {
  color: var(--c-hex-bg-500);
}

.procurementTotalPurchasePrice {
  margin-bottom: 10px;
}

.procurementPurchasePrice {
  margin-bottom: 5px;
}

.procurementPurchasePrice,
.procurementCostDelivery {
  font-size: 12px;
}

.procurementTotalPurchasePrice span,
.procurementPurchasePrice span,
.procurementCostDelivery span {
  color: var(--c-hex-bg-700);
  font-weight: 700;
}

.procurementUser {
  align-items: center;
  display: flex;
}

.procurementUserPhoto {
  background-color: var(--c-hex-br-5);
  height: 30px;
  margin-right: 10px;
  width: 30px;
}

.procurementUserIcon {
  align-items: flex-end;
  justify-content: center;
  border: 2px solid var(--c-hex-bg-100);
  border-radius: 50%;
  display: flex;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.procurementUserPhoto svg {
  color: rgba(255, 255, 255, 0.9);
  font-size: 24px;
}

.procurementUserName {
  color: var(--c-hex-bg-600);
  font-size: 13px;
  font-weight: 600;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.detailsButton {
  background: none;
  border: none;
  color: var(--c-hex-bg-300);
  display: flex;
  font-size: 13px;
  font-weight: 500;
  padding-bottom: 5px;
  width: 100%;
}

.detailsButton svg {
  font-size: 18px;
  transform: rotate(180deg);
  transition: color 150ms ease-out, transform 150ms ease-out;
  width: 18px !important;
}

.detailsButton svg:global(.open) {
  transform: rotate(0deg);
}

.procurementDetails {
  color: var(--c-hex-bg-600);
  display: inline-block;
  margin-bottom: 5px;
}

.procurementReceipts {
  border-top: 1px solid var(--c-hex-br-5);
  padding: 25px 15px 0;
}

.isArchived {
  color: var(--c-hex-o-15);
  font-size: 11px;
  font-weight: 600;
  margin-left: 5px;
}
