@import '~src/styles/helpers/_colors.styl';
@import '~src/styles/helpers/_fonts.styl';
@import '~src/styles/helpers/_media_queries.styl';

.stock-statistics
	& .page__inner-content
		display flex
		flex-direction column
		min-height calc(100vh - (50px + 70px))
		padding 30px 0 20px 20px
