@import '~src/styles/helpers/_colors.styl';
@import '~src/styles/helpers/_fonts.styl';
@import '~src/styles/helpers/_media_queries.styl';

.card-paper
	overflow hidden

	&__header
		align-items center
		background-color $c-br-3
		border-radius 8px 8px 0 0
		box-shadow 0 0 0 1px $c-bg-50
		min-height 54px
		padding 8px 15px

	&__title
		color $c-bg-700
		font-size 16px
		font-weight 500
		line-height 1.2

	&__content
		padding 20px 15px
