.totalPurchasePrice {
  font-size: 16px;
  font-weight: 600;
}

.totalPurchasePrice,
.purchasePrice,
.costDelivery {
  color: var(--c-hex-bg-500);
}

.totalPurchasePrice {
  margin-bottom: 10px;
}

.purchasePrice {
  margin-bottom: 5px;
}

.purchasePrice,
.costDelivery {
  font-size: 12px;
}

.totalPurchasePrice span,
.purchasePrice span,
.costDelivery span {
  color: var(--c-hex-bg-700);
  font-weight: 700;
}
