@import '~src/styles/helpers/_colors.styl';
@import '~src/styles/helpers/_fonts.styl';
@import '~src/styles/helpers/_media_queries.styl';

.swo-users
	&__list
		margin -19px 0 -20px

	&__item
		align-items center
		display flex
		position relative

	&__link
		align-items center
		display flex
		min-height 42px
		margin 0 -15px
		padding 5px 15px
		transition background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms
		width calc(100% + 30px)

		&:hover
			background-color $c-br-3

		&_active
			background-color alpha($c-br-3, 1) !important

			&:before
				background-color $c-t-300
				content ''
				height 100%
				left -15px
				position absolute
				width 3px

	&__member-photo
		align-items flex-end
		border-radius 50%
		display flex
		flex none
		height 32px
		justify-content center
		margin-right 5px
		overflow hidden
		width 32px

		&_null
			background-color $c-br-5
			border 2px solid $c-bg-100

			& svg
				color alpha(white, 0.9)
				font-size 24px

		& img
			height 100%
			width 100%

	&__name
		color $c-bg-600
		font-size 14px
		max-width 100%
		overflow hidden
		padding 0 10px
		text-overflow ellipsis
		white-space nowrap

	&__link_active &__name
		font-weight 600
