.tableBody > .writeOff:last-child > td:first-child {
  border-radius: 0 0 0 8px;
}

.tableBody > .writeOff:last-child > td:last-child {
  border-radius: 0 0 8px 0;
}

.writeOff {
  transition: background-color 150ms ease-out;
}

.writeOff:hover {
  background-color: var(--c-hex-br-2);
}

.writeOffActionsButton {
  color: var(--c-hex-bg-200);
  padding: 8px;
  opacity: 0;
  transition: color 150ms ease-out, opacity 150ms ease-out;
  width: 36px;
}

.writeOffActionsButton:hover {
  background-color: rgba(var(--c-rgb-bg-100), 0.2);
}

.writeOff:hover .writeOffActionsButton {
  opacity: 1;
}

.writeOffActionsButton_active {
  color: var(--c-hex-bg-300);
  opacity: 1;
}

.writeOffActionsButton svg {
  font-size: 20px;
}
