.container {
  margin-bottom: 16px;
}

.wrapper {
  margin: -20px -15px;
}

.header {
  cursor: pointer;
  user-select: none;
  padding: 20px 15px 0;
}

.title {
  color: var(--c-hex-bg-500);
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
}

.title {
  margin-bottom: 10px;
}

.title span {
  font-size: 14px;
  margin-right: 2px;
}

.total,
.sellingPositions,
.freePositions {
  color: var(--c-hex-bg-500);
}

.total {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.sellingPositions {
  margin-bottom: 5px;
}

.sellingPositions,
.freePositions {
  font-size: 12px;
}

.total span,
.sellingPositions span,
.freePositions span {
  color: var(--c-hex-bg-700);
  font-weight: 700;
}

.usersPerDayWrapper {
  display: inline-flex;
}

.user {
  margin-right: -7px;
  transition: margin 150ms ease-out, padding 150ms ease-out, transform 150ms ease-out;
}

.usersPerDayWrapper:hover .user {
  transform: scale(0.9);
}

.usersPerDayWrapper:hover .user:hover {
  transform: scale(1.1);
}

.user:first-child {
  padding-left: 0;
}

.user:last-child {
  padding-right: 0;
}

.user:first-child:hover {
  margin-right: 0;
  padding-right: 5px;
}

.user:last-child:hover:not(.userSingle) {
  margin-left: 8px;
  padding-left: 5px;
}

.user:not(:first-child):not(:last-child):hover {
  margin: 0 0 0 8px;
  padding: 0 5px;
}

.userPhoto {
  background-color: var(--c-hex-br-5);
  box-shadow: 2px 0 2px 0 rgba(var(--c-rgb-bg-900), 0.4);
  height: 28px;
  transition: box-shadow 150ms ease-out;
  width: 28px;
}

.user:last-child .userPhoto {
  box-shadow: none;
}

.user:hover .userPhoto {
  box-shadow: 0 0 5px 0 rgba(var(--c-rgb-bg-900), 0.6);
}

.userIcon {
  align-items: flex-end;
  justify-content: center;
  border: 2px solid var(--c-hex-bg-100);
  border-radius: 50%;
  display: flex;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.userPhoto svg {
  color: rgba(255, 255, 255, 0.9);
  font-size: 20px;
}

.detailsButton {
  background: none;
  border: none;
  color: var(--c-hex-bg-200);
  display: flex;
  margin-top: -3px;
  padding-bottom: 5px;
  transition: margin-top 150ms ease-out, padding-top 150ms ease-out;
  width: 100%;
}

.detailsButton:global(.open) {
  margin-top: 0;
  padding-top: 3px;
}

.detailsButton svg {
  font-size: 18px;
  transform: rotateX(0deg);
  transition: color 150ms ease-out, transform 150ms ease-out;
  width: 18px !important;
}

.detailsButton svg:global(.open) {
  transform: rotateX(180deg);
}

.receipts {
  border-top: 1px solid var(--c-hex-br-5);
  margin-top: 20px;
}
