.container {
  scroll-snap-align: center;
  flex: 0 0 auto;
  padding: 8px;
  width: 32%;
}

.actionButton {
  position: absolute;
  padding: 4px;
  right: 10px;
  top: 10px;
}

.subtitle {
  color: var(--c-hex-blueGrey-600);
  font-weight: 500;
  margin-bottom: 15px;
}

.user {
  margin-bottom: 16px;
}

.totalPrice {
  color: var(--c-hex-blueGrey-700);
  font-size: 18px;
  font-weight: 700;
}

.info {
  align-items: center;
  display: flex;
  margin-top: 7px;
}

.infoItem {
  color: var(--c-hex-blueGrey-300);
  font-size: 13px;
  font-weight: 600;
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.infoItem:not(:first-child):before {
  color: var(--c-hex-blueGrey-400);
  font-size: 13px;
  font-weight: 600;
  content: '\00a0· ';
}

.commentIcon {
  color: var(--c-hex-blueGrey-500);
  font-size: 16px;
  transition: color 150ms ease-out;
}

.commentIcon:hover {
  color: var(--c-hex-teal-400);
}

.commentText {
  max-width: 300px;
  white-space: break-spaces;
  word-break: break-word;
}
