@import '~src/styles/helpers/_colors.styl';
@import '~src/styles/helpers/_fonts.styl';
@import '~src/styles/helpers/_media_queries.styl';

.project-content-plan
	display flex

	& .page__inner-content
		display flex
		flex-direction column
		width 100%
