.container {
  align-items: center;
  display: flex;
}

.image {
  background-color: var(--c-hex-brightness-5);
  height: 28px;
  width: 28px;
}

.userIcon {
  align-items: flex-end;
  justify-content: center;
  border: 2px solid var(--c-hex-blueGrey-100);
  border-radius: 50%;
  display: flex;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.image svg {
  color: rgba(255, 255, 255, 0.9);
  font-size: 20px;
}

.details {
  margin-left: 12px;
  max-width: calc(100% - 38px);
}

.title {
  color: var(--c-hex-blueGrey-500);
  font-size: 14px;
  font-weight: 600;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
