.list {
  margin: 0;
}

.definitionItem {
  flex-wrap: initial;
  width: initial;
}

.definitionItem + .definitionItem {
  margin-top: 20px;
}

.termContainer {
  flex-wrap: initial;
  width: initial;
  flex: 0 1 300px;
  overflow: hidden;
}

.term {
  color: var(--c-hex-blueGrey-400);
  font-size: 13px;
  font-weight: 500;
  flex: 0 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dots {
  flex: 1 0 20px;
  margin: 0 2px;
  border-bottom: 1px dotted rgba(var(--c-rgb-blueGrey-100), 0.8);
}

.definitionContainer {
  flex: 1 1 50%;
  margin: 0;
  overflow: hidden;
}

.definitionValue {
  color: var(--c-hex-blueGrey-700);
  font-size: 13px;
  line-height: 1.3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
