.container {
  border-bottom: 1px solid var(--c-hex-brightness-5);
  padding: 8px 0;
}

.shopName,
.shopComment {
  padding: 10px 0;
}

.shopName {
  overflow: hidden;
  padding-right: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.shopComment {
  padding-left: 10px;
  white-space: break-spaces;
  word-break: break-word;
}

.actions {
  padding: 2px 0;
}

.actionButton {
  padding: 9px;
  width: 32px;
}

.actionButton svg {
  font-size: 14px;
}
