.headerActions {
  margin: -3px 0;
  padding-right: 32px;
}

.otherActionsButton {
  margin-left: auto;
  padding: 0;
}

.positionItem {
  margin-bottom: 20px;
}

.positionItem:last-child {
  margin-bottom: 0;
}

.positionItemNumber {
  color: var(--c-hex-blueGrey-300);
  font-size: 14px;
  font-weight: 600;
  width: 35px;
}

.positionItemContent {
  border-bottom: 1px solid var(--c-hex-brightness-5);
  padding-bottom: 20px;
}

.positionItem:last-child .positionItemContent {
  border-bottom: none;
  padding-bottom: 0;
}

.comment {
  white-space: break-spaces;
  word-break: break-word;
}
