.card {
  cursor: pointer;
  min-height: 168px;
  position: absolute;
  top: 0;
  width: 100%;
  will-change: transform;
}

.card.cardImportanceRed {
  transition: background-color 250ms cubic-bezier(0.3, 0, 0.2, 0.8), box-shadow 150ms ease-out, transform 400ms cubic-bezier(0.3, 0, 0.2, 0.8);
}

.card.cardImportanceOrange {
  transition: background-color 250ms cubic-bezier(0.3, 0, 0.2, 0.8), box-shadow 150ms ease-out, transform 450ms cubic-bezier(0.3, 0, 0.2, 0.8);
}

.card.cardImportanceGreen {
  transition: background-color 250ms cubic-bezier(0.3, 0, 0.2, 0.8), box-shadow 150ms ease-out, transform 500ms cubic-bezier(0.3, 0, 0.2, 0.8);
}

.card:hover {
  box-shadow: 0 1px 8px 0 rgba(84, 110, 122, 0.2), 0 3px 4px 0 rgba(84, 110, 122, 0.14), 0 3px 3px -2px rgba(84, 110, 122, 0.12);
}

.card:nth-child(-n+3) {
  transform: scale(calc(1 - (0.05 * var(--cardIndex)))) translate(0, calc(10px * var(--cardIndex)));
}

.card:nth-child(2) {
  background-color: var(--c-hex-brightness-2);
}

.card:nth-child(3) {
  background-color: var(--c-hex-brightness-3);
}

.card:nth-child(n+4) {
  background-color: var(--c-hex-brightness-4);
  transform: scale(calc(1 - (0.05 * var(--cardIndex)))) translate(0, 0);
}

:global(.visibleAllNotifications) .card {
  background-color: white;
  transform: scale(1) translate(0, calc((100% + 16px) * var(--cardIndex)));
}

.card:nth-child(1).cardNew {
  animation: cardNewFirst 250ms forwards cubic-bezier(0.3, 0, 0.2, 0.8);
}

.card:nth-child(2).cardNew,
.card:nth-child(3).cardNew {
  animation: cardNewSecondThird 250ms forwards cubic-bezier(0.3, 0, 0.2, 0.8);
}

:global(.visibleAllNotifications) .card.cardNew {
  animation: cardNewVisibleAll 250ms forwards cubic-bezier(0.3, 0, 0.2, 0.8);
}

.card.cardDeleting {
  animation: cardDeleting 250ms forwards cubic-bezier(0.3, 0, 0.2, 0.8);
}

@keyframes cardNewFirst {
  from {
    opacity: 0;
    filter: blur(5px);
    transform: scale(1.1) translate(0, -20px);
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: scale(1) translate(0, 0);
  }
}

@keyframes cardNewSecondThird {
  from {
    opacity: 0;
    filter: blur(5px);
    transform: scale(calc(1 - (0.05 * var(--cardIndex)))) translate(0, calc(-10px * var(--cardReverseIndex)));
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: scale(calc(1 - (0.05 * var(--cardIndex)))) translate(0, calc(10px * var(--cardIndex)));
  }
}

@keyframes cardNewVisibleAll {
  from {
    opacity: 0;
    filter: blur(5px);
    transform: scale(1.1) translate(0, calc(100% * var(--cardIndex) + (-10px * var(--cardReverseIndex))));
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: scale(1) translate(0, calc(100% * var(--cardIndex) + (16px * var(--cardIndex))));
  }
}

@keyframes cardDeleting {
  from {
    opacity: 1;
    filter: blur(0);
  }
  to {
    opacity: 0;
    filter: blur(5px);
  }
}

.cardMemberInvoice {
  cursor: default;
}

.cardImportanceRed {
  border-left: 16px solid rgba(244, 67, 54, 0.75);
}

.cardImportanceOrange {
  border-left: 16px solid rgba(255, 152, 0, 0.75);
}

.cardImportanceGreen {
  border-left: 16px solid rgba(var(--c-rgb-teal-300), 0.75);
}

.actionButton {
  position: absolute;
  padding: 4px;
  right: 10px;
  top: 10px;
}

.header {
  align-items: flex-start;
  display: flex;
  margin: -5px 0 15px;
}

.notificationIcon {
  margin-right: 10px;
}

.cardPositionEnds .notificationIcon {
  font-size: 26px;
}

.cardDeliveryIsExpected .notificationIcon {
  font-size: 22px;
}

.cardMemberInvoice .notificationIcon {
  font-size: 22px;
  margin-top: 2px;
}

.cardImportanceRed .notificationIcon,
.cardImportanceRed .title {
  color: #F44336;
}

.cardImportanceOrange .notificationIcon,
.cardImportanceOrange .title {
  color: #FF9800;
}

.cardImportanceGreen .notificationIcon,
.cardImportanceGreen .title {
  color: var(--c-hex-teal-300);
}

.subtitle {
  color: var(--c-hex-blueGrey-600);
  font-weight: 500;
  margin-bottom: 15px;
}

.caption {
  color: var(--c-hex-blueGrey-300);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 7px;
}

.totalPrice {
  color: var(--c-hex-blueGrey-700);
  font-size: 18px;
  font-weight: 700;
}

.info {
  align-items: center;
  display: flex;
  margin-top: 7px;
}

.infoItem {
  color: var(--c-hex-blueGrey-300);
  font-size: 12px;
  font-weight: 600;
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.infoItem:not(:first-child):before {
  color: var(--c-hex-blueGrey-400);
  font-size: 13px;
  font-weight: 600;
  content: '\00a0· ';
}

.robotIcon {
  color: var(--c-hex-blueGrey-500);
  display: inline-block;
  font-size: 16px;
  margin: -4px 0 0 5px;
}

.commentIcon {
  color: var(--c-hex-blueGrey-500);
  font-size: 16px;
  transition: color 150ms ease-out;
}

.commentIcon:hover {
  color: var(--c-hex-teal-400);
}

.commentText {
  max-width: 300px;
  white-space: break-spaces;
  word-break: break-word;
}
