@import '~src/styles/helpers/_colors.styl';
@import '~src/styles/helpers/_fonts.styl';
@import '~src/styles/helpers/_media_queries.styl';

.D-member-edit
	&__member-photo
		align-items flex-end
		border-radius 50%
		display flex
		flex none
		height 150px
		justify-content center
		margin 0 auto
		overflow hidden
		width 150px

		&_null
			background-color $c-br-5
			border 6px solid $c-bg-100

			& svg
				color alpha(white, 0.9)
				font-size 120px

		& img
			height 100%
			width 100%

	&__member-details
		padding-left 20px
		width 100%
