.photo {
  align-items: flex-end;
  border-radius: 50%;
  display: flex;
  flex: none;
  height: 42px;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
  width: 42px;
}

.photo img {
  height: 100%;
  width: 100%;
}

.photoEmpty {
  background-color: var(--c-hex-br-5);
  border: 2px solid var(--c-hex-bg-100);
}

.photoEmpty svg {
  color: rgba(255, 255, 255, 0.9);
  font-size: 32px;
}

.details {
  padding-left: 20px;
  width: 100%;
}
