.card {
  align-items: center;
  border: 2px dashed rgba(var(--c-rgb-blueGrey-100), 0.7);
  display: flex;
  border-radius: 8px;
  height: 168px;
  justify-content: center;
}

.text {
  color: var(--c-hex-blueGrey-300);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
  white-space: break-spaces;
}
