.container {
  height: inherit;
}

.containerInner {
  height: 100%;
}

.formFields {
  padding: 15px 20px;
}

.printDestinationContainer {
  margin-top: 15px;
}

.collapse {
  margin: 0 -20px;
  padding: 0 20px;
}

.action {
  margin-top: auto;
  z-index: 1;
}
