@import '~src/styles/helpers/_colors.styl';
@import '~src/styles/helpers/_fonts.styl';
@import '~src/styles/helpers/_media_queries.styl';

.fc-head .fc-day-header
	color $c-bg-300
	font-size 16px
	font-weight 700
	padding 7px 0
	text-transform capitalize

	& .fc-current-weekday
		color $c-t-300

.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-row,
.fc-unthemed .fc-content,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-list-heading td
	border-color $c-bg-50

.fc-other-month
	background-color $c-br-4

.fc-unthemed td.fc-today
	background-color $c-br-1

.fc-dayGridMonth-view .fc-content-skeleton .fc-day-top
	opacity 1

	& .fc-day-number
		align-items center
		color $c-bg-300
		display flex
		float none
		font-size 12px
		font-weight 900
		justify-content center
		height 20px
		margin 4px auto 2px
		padding 0
		text-align center
		visibility hidden
		width 20px

	&.fc-today .fc-day-number
		background-color $c-t-300
		border-radius 50%
		color white

	&.fc-there-events .fc-day-number
		visibility visible

.fc-dayGridMonth-view .fc-bg .fc-day
	& .fc-day-big-number
		align-items center
		display flex
		font-size 64px
		font-weight 600
		height 100%
		justify-content center
		padding-bottom 6px

	&.fc-past .fc-day-big-number
		color alpha($c-bg-100, 0.3)

	&.fc-today .fc-day-big-number
		color alpha($c-t-300, 0.5)

	&.fc-future .fc-day-big-number
		color alpha($c-bg-100, 0.5)

td.fc-more-cell
	padding 2px

a.fc-more
	border-radius 3px
	color $c-bg-300
	display flex
	font-size 12px
	font-weight 600
	justify-content flex-end
	margin 0 0 0 auto
	padding 5px
	transition background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms
	width 50%

	&:hover
		background-color $c-bg-50
		text-decoration none
