/* Control Label Radio Title and Subtitle */
.formRadioTitleSubtitle {
  align-items: flex-start;
}

.formRadioTitleSubtitleLabel {
  padding-top: 9px;
}

.formRadioTitleSubtitleTitle {
  font-weight: 500;
}

.formRadioTitleSubtitleSubtitle {
  color: var(--c-hex-bg-400);
  margin-top: 5px;
}

/* Grid Form Label Control */
.formLabelControl {
  margin-bottom: 20px;
}

.formLabelControl > label {
  align-items: center;
  display: flex;
  min-height: 36px;
  margin-right: 10px;
}

.formLabelControl > label + div {
  flex-grow: 1;
}
