.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image img {
  display: block;
  margin: 0 auto;
  pointer-events: none;
  user-select: none;
}

.imageMd img {
  height: 45vh;
  min-height: 250px;
  max-height: 400px;
}

.imageSm img {
  height: 35vh;
  min-height: 200px;
  max-height: 300px;
}

.imageXs img {
  height: 25vh;
  min-height: 150px;
  max-height: 200px;
}

.content {
  margin-top: 15px;
  text-align: center;
}

.imageMd + .content,
.imageSm + .content,
.imageXs + .content {
  margin-top: 32px;
}

.title {
  margin-bottom: 16px;
}

.actions {
  margin-top: 16px;
}

.actions button {
  margin-left: 16px;
}

.actions button:first-child {
  margin-left: 0
}
