.container {
  scroll-snap-align: center;
  flex: 0 0 auto;
  padding: 8px;
  width: 32%;
}

.card {
  cursor: pointer;
  position: relative;
  transition: box-shadow 150ms ease-out;
}

.card:hover {
  box-shadow: 0 1px 8px 0 rgba(84, 110, 122, 0.2), 0 3px 4px 0 rgba(84, 110, 122, 0.14), 0 3px 3px -2px rgba(84, 110, 122, 0.12);
}

.actionButton {
  color: var(--c-hex-bg-200);
  position: absolute;
  padding: 4px;
  right: 10px;
  top: 10px;
}

.actionButtonActive,
.actionButtonActive:hover {
  background-color: rgba(var(--c-rgb-bg-100), 0.4);
  color: var(--c-hex-bg-300);
}

.subtitle {
  color: var(--c-hex-bg-600);
  font-weight: 500;
  margin-bottom: 15px;
}

.user {
  margin-bottom: 16px;
}

.totalPrice {
  color: var(--c-hex-bg-700);
  font-size: 18px;
  font-weight: 700;
}

.info {
  align-items: center;
  display: flex;
  margin-top: 7px;
}

.infoItem {
  color: var(--c-hex-bg-300);
  font-size: 12px;
  font-weight: 600;
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.infoItem:not(:first-child):before {
  color: var(--c-hex-bg-400);
  font-size: 13px;
  font-weight: 600;
  content: '\00a0· ';
}
