:root {
  /* HEX */
  --c-hex-blueGrey-50: #eceff1;
  --c-hex-blueGrey-100: #cfd8dc;
  --c-hex-blueGrey-200: #b0bec5;
  --c-hex-blueGrey-300: #90a4ae;
  --c-hex-blueGrey-400: #78909c;
  --c-hex-blueGrey-500: #607d8b;
  --c-hex-blueGrey-600: #546e7a;
  --c-hex-blueGrey-700: #455a64;
  --c-hex-blueGrey-800: #37474f;
  --c-hex-blueGrey-900: #263238;
  --c-hex-blueGrey-A100: #cfd8dc;
  --c-hex-blueGrey-A200: #b0bec5;
  --c-hex-blueGrey-A400: #78909c;
  --c-hex-blueGrey-A700: #455a64;

  /* RGB */
  --c-rgb-blueGrey-50: 236, 239, 241;
  --c-rgb-blueGrey-100: 207, 216, 220;
  --c-rgb-blueGrey-200: 176, 190, 197;
  --c-rgb-blueGrey-300: 144, 164, 174;
  --c-rgb-blueGrey-400: 120, 144, 156;
  --c-rgb-blueGrey-500: 96, 125, 139;
  --c-rgb-blueGrey-600: 84, 110, 122;
  --c-rgb-blueGrey-700: 69, 90, 100;
  --c-rgb-blueGrey-800: 55, 71, 79;
  --c-rgb-blueGrey-900: 38, 50, 56;
  --c-rgb-blueGrey-A100: 207, 216, 220;
  --c-rgb-blueGrey-A200: 176, 190, 197;
  --c-rgb-blueGrey-A400: 120, 144, 156;
  --c-rgb-blueGrey-A700: 69, 90, 100;
}
