:root {
  --c-hex-orange-50: #fff3e0;
  --c-hex-orange-100: #ffe0b2;
  --c-hex-orange-200: #ffcc80;
  --c-hex-orange-300: #ffb74d;
  --c-hex-orange-400: #ffa726;
  --c-hex-orange-500: #ff9800;
  --c-hex-orange-600: #fb8c00;
  --c-hex-orange-700: #f57c00;
  --c-hex-orange-800: #ef6c00;
  --c-hex-orange-900: #e65100;
  --c-hex-orange-A100: #ffd180;
  --c-hex-orange-A200: #ffab40;
  --c-hex-orange-A400: #ff9100;
  --c-hex-orange-A700: #ff6d00;
}

