.title {
  color: var(--c-hex-bg-600);
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

.debt {
  margin-bottom: 20px;
}

.debtTitle {
  color: var(--c-hex-bg-300);
  font-size: 13px;
  font-weight: 600;
}

.debtContent {
  color: var(--c-hex-bg-700);
  font-size: 18px;
  font-weight: 700;
  margin-top: 5px;
}

.infoSmall {
  color: var(--c-hex-bg-500);
  font-size: 13px;
}

.separator {
  color: var(--c-hex-bg-500);
  font-size: 10px;
  padding: 0 4px;
}

.buttonLink {
  background: none;
  border: none;
  color: var(--c-hex-t-500);
  font-size: 13px;
}

.buttonLink:hover {
  color: var(--c-hex-t-400);
}

.invoices {
  margin-top: -12px;
}

.circle {
  border-radius: 100%;
  display: inline-block;
  height: 10px;
  margin: 0 5px 0 0;
  width: 10px;
}

.circleRed {
  background-color: var(--c-hex-o-1);
}

.circleYellow {
  background-color: var(--c-hex-o-14);
}

.circleGreen {
  background-color: var(--c-hex-t-A700);
}
