.container {
  display: flex;
  align-items: center;
  min-height: 32px;
}

.names {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  min-width: 0;
}

.name,
.characteristics {
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sizeSm .name {
  color: var(--c-hex-bg-700);
  font-size: 13px;
  font-weight: 400;
}

.sizeMd .name {
  color: var(--c-hex-bg-600);
  font-size: 16px;
  font-weight: 600;
}

.sizeLg .name {
  color: var(--c-hex-bg-700);
  font-size: 18px;
  font-weight: 500;
}

.characteristics {
  color: var(--c-hex-bg-300);
  font-weight: 600;
}

.sizeSm .characteristics {
  font-size: 12px;
  margin-top: 3px;
}

.sizeMd .characteristics {
  font-size: 13px;
  margin-top: 6px;
}

.sizeLg .characteristics {
  font-size: 14px;
  margin-top: 10px;
}

.symbols {
  align-items: center;
  display: flex;
  margin-left: 10px;
  max-width: 32px;
}

.symbols > div:first-child {
  margin-left: 0;
}

.deliveryIsExpected,
.archive,
.archivedAfterEnded,
.writeOffUndo {
  font-size: 13px;
  margin-left: 8px;
}

.deliveryIsExpected {
  color: var(--c-hex-t-300);
}

.archive {
  color: var(--c-hex-o-1);
}

.archivedAfterEnded {
  color: var(--c-hex-o-15);
}

.writeOffUndo {
  color: var(--c-hex-o-1);
}
