.layout_bg {
  background: linear-gradient(to bottom, var(--c-hex-sg-3) 0%, var(--c-hex-sg-4) 50%, var(--c-hex-sg-4) 100%);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.container {
  padding-bottom: 20px;
  padding-top: 30px;
}

.wrapper {
  margin: 0 auto;
  max-width: 480px;
  padding: 30px 0 20px;
  width: 100%;
}

.logo {
  background: url('/img/logo_original.svg') no-repeat center center;
  height: 33px;
  margin: 0 auto 0;
  width: 200px;
}

.form {
  background-color: white;
  border-radius: 8px;
  padding: 20px 40px;
}

.form h2 {
  color: var(--c-hex-bg-800);
  font-weight: 300;
  line-height: 1.2;
  margin: 0 auto 30px;
  text-align: center;
  width: 300px;
}

.or {
  position: relative;
  text-align: center;
}

.or hr {
  bottom: 0;
  margin: auto 0;
  position: absolute;
  top: 2px;
  width: 100%;
}

.orText {
  background-color: white;
  color: var(--c-hex-bg-700);
  display: inline-block;
  font-size: 14px;
  padding: 0 10px;
  position: relative;
}

.socialNetworkLogin {
  margin-bottom: 40px;
}

.formFields {
  margin-top: 40px;
}

.loginBtn {
  width: 100%;
}

.bottomFormInfo,
.bottomInfo {
  font-size: 14px;
  line-height: 1.4;
  margin-top: 20px;
  text-align: center;
}

.bottomFormInfo {
  color: var(--c-hex-bg-400);
}

.bottomFormInfo a {
  font-size: 14px;
}

.bottomInfo {
  color: white;
}

.bottomInfo a {
  color: white;
  font-weight: 600;
  text-decoration: underline;
}

.bottomInfo a:hover {
  opacity: 0.8;
}

.codeOfConduct,
.copyright {
  color: var(--c-hex-sg-2);
  font-size: 14px;
  line-height: 1.4;
  margin-top: auto;
  text-align: center;
}

.codeOfConduct a {
  color: var(--c-hex-t-A200);
  font-weight: 600;
}

.codeOfConduct a:hover {
  color: rgba(var(--c-rgb-t-A200), 0.8);
}

.copyright {
  font-weight: 600;
}
