.removeReceipt {
  display: inline-flex;
  margin: 32px 4px auto auto;
}

.removeReceipt button {
  background-color: transparent !important;
  color: var(--c-hex-bg-300);
  padding: 6px 0;
}

.removeReceipt button svg {
  font-size: 20px;
  width: 20px !important;
}

.receipts {
  border-top: 1px solid var(--c-hex-br-5);
  margin: 0 -25px -12px;
  padding: 20px 25px 0;
}

.receipt {
  border-bottom: 1px solid var(--c-hex-br-5);
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.receipt:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.iconCostDeliveryDivide {
  color: var(--c-hex-bg-300);
  margin-left: 10px;
}
