.position {
  cursor: pointer;
  transition: background-color 150ms ease-out;
}

.position:hover {
  background-color: var(--c-hex-brightness-4);
}

.positionInGroup {
  background-color: var(--c-hex-brightness-2);
}

.positionGroupAndChild {
  padding-left: 52px;
}

.positionGroupOrChild {
  padding-left: 26px;
}

.createReceipt {
  background-color: var(--c-hex-brightness-4);
  color: var(--c-hex-blueGrey-400);
  border-radius: 8px;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.1;
  padding: 9px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.position:hover .createReceipt {
  background-color: var(--c-hex-brightness-5);
}

.createReceipt:hover {
  background-color: var(--c-hex-brightness-5);
  color: var(--c-hex-blueGrey-600);
}
