.tableHeaderSticky {
  background-color: white;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 1px 0 0 var(--c-hex-brightness-4);
  position: sticky;
  top: 50px;
  z-index: 2;
}

.positions,
.positionGroupsRounded {
  border-radius: 0 0 8px 8px;
  overflow: hidden;
}

.caption {
  color: var(--c-hex-blueGrey-300);
  font-size: 11px;
  font-weight: 600;
}

.actionButton {
  padding: 0;
  opacity: 0;
}

.actionButton:global(.activeAction),
.actionButton:global(.activeAction):hover,
.positionGroup:hover .actionButton,
.position:hover .actionButton {
  opacity: 1;
}
