.position {
  cursor: pointer;
  transition: background-color 150ms ease-out;
}

.position:hover {
  background-color: var(--c-hex-brightness-3);
}

.positionInGroup {
  background-color: var(--c-hex-brightness-1);
}

.childPosition td {
  border-top: none;
}

.positionName {
  position: relative;
}

.unifierPosition {
  color: var(--c-hex-blueGrey-200);
  height: 35px;
  position: absolute;
  left: 1px;
  top: -17px;
}

.childPosition .unifierPosition + div {
  margin-left: 28px;
}

.createReceipt {
  background-color: var(--c-hex-brightness-4);
  color: var(--c-hex-blueGrey-400);
  border-radius: 8px;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.1;
  padding: 9px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.createReceipt:hover {
  background-color: var(--c-hex-brightness-5);
  color: var(--c-hex-blueGrey-600);
}
