.container {
  margin-bottom: 16px;
}

.wrapper {
  margin: -20px -15px;
}

.header {
  cursor: pointer;
  user-select: none;
  padding: 20px 15px 0;
}

.title {
  color: var(--c-hex-t-500);
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.title:hover {
  color: var(--c-hex-t-400);
}

.title span {
  font-size: 14px;
  margin-right: 2px;
}

.titleGrey {
  color: var(--c-hex-bg-500);
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.titleGrey span {
  color: var(--c-hex-bg-700);
  font-weight: 700;
}

.smallText {
  color: var(--c-hex-bg-500);
  font-size: 12px;
  margin-bottom: 5px;
}

.smallText span {
  color: var(--c-hex-bg-700);
  font-weight: 700;
}

.invoicePaid {
  align-items: center;
  display: flex;
  color: var(--c-hex-bg-500);
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}

.invoicePaid svg {
  color: var(--c-hex-t-300);
  font-size: 18px;
  margin: 0 5px 0 0;
}

.acceptPayment {}

.user {
  align-items: center;
  display: flex;
}

.userPhoto {
  background-color: var(--c-hex-br-5);
  height: 28px;
  margin-right: 10px;
  width: 28px;
}

.userIcon {
  align-items: flex-end;
  justify-content: center;
  border: 2px solid var(--c-hex-bg-100);
  border-radius: 50%;
  display: flex;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.userPhoto svg {
  color: rgba(255, 255, 255, 0.9);
  font-size: 20px;
}

.userName {
  color: var(--c-hex-bg-500);
  font-size: 13px;
  font-weight: 600;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.detailsButton {
  background: none;
  border: none;
  color: var(--c-hex-bg-200);
  display: flex;
  margin-top: -3px;
  padding-bottom: 5px;
  transition: margin-top 150ms ease-out, padding-top 150ms ease-out;
  width: 100%;
}

.detailsButton:global(.open) {
  margin-top: 0;
  padding-top: 3px;
}

.detailsButton svg {
  font-size: 18px;
  transform: rotateX(0deg);
  transition: color 150ms ease-out, transform 150ms ease-out;
  width: 18px !important;
}

.detailsButton svg:global(.open) {
  transform: rotateX(180deg);
}

.writeOffs {
  border-top: 1px solid var(--c-hex-br-5);
  margin-top: 20px;
}
