.header {
  margin-bottom: 20px;
}

.avatar {
  justify-content: center;
  margin-bottom: 10px;
}

.avatar svg {
  font-size: 70px;
}

.avatarImage {
  height: 90px;
  width: 90px;
}

.name {
  margin-bottom: 20px;
}

.indicatorsTitle {
  color: var(--c-hex-blueGrey-700);
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.indicatorsSubtitle {
  color: var(--c-hex-blueGrey-300);
  font-size: 12px;
  font-weight: 600;
  margin: 7px auto 0;
}
