@import '~src/styles/helpers/_colors.styl';
@import '~src/styles/helpers/_fonts.styl';
@import '~src/styles/helpers/_media_queries.styl';

.header
	align-items center
	background-color $c-t-200
	box-shadow none
	flex-direction row
	height 50px
	justify-content space-between
	padding 0 20px
	z-index 1200

	&_theme
		&_bg
			background-color transparent

	&__column
		&_left,
		&_right
			align-items center
			display flex

		&_left
			justify-content flex-start

		&_right
			justify-items flex-end

	&__column-group
		&_left
			margin-right 24px

		&_right
			margin-left 24px

	&__left-elements
		display flex
		align-items center

	&__title-page
		color white
		font-size 22px
		font-weight 500
		letter-spacing 1.2px
		text-shadow 0 0 10px alpha(black, 0.3)

	&__logo
		background url('/images/logo_original.svg') no-repeat center center
		display block
		height 33px
		margin 0 auto 0
		width 200px

	&__stock-btn
		& svg
			margin-left 10px
			transform rotate(0deg)

	&__profile
		align-items center
		display flex
		cursor pointer
		padding 5px 0

		& svg
			color $c-t-100
			transform rotate(0deg)
			transition color 150ms ease-out

			&.open
				color white

	&_theme_bg &__profile
		& svg
			color $c-sg-2

			&.open
				color $c-sg-1

	&__profile-name
		color white
		font-size 14px
		font-weight 600
		user-select none
		margin-right 10px
		text-shadow 0 0 10px alpha(black, 0.3)

	&__profile-photo
		align-items flex-end
		border 2px solid $c-t-400
		border-radius 50%
		display flex
		height 40px
		justify-content center
		margin-right 5px
		overflow hidden
		width 40px

		& svg
			font-size 30px

		& img
			height 100%
			width 100%

	&_theme_bg &__profile-name + &__profile-photo
		border-color alpha($c-sg-2, 0.3)

// Stock Content-Plan
.sg-header
	&__add-category
		width 100%

		& svg
			font-size 20px
			margin-right 10px
