@import '~src/styles/helpers/_colors.styl';
@import '~src/styles/helpers/_fonts.styl';
@import '~src/styles/helpers/_media_queries.styl';

.private-layout-bg
	background linear-gradient(to bottom, $c-sg-3 0%, $c-sg-4 50%, $c-sg-4 100%)
	display flex
	flex-direction column
	min-height 100vh
	width 100%

	& .page__wrap
		margin 0 auto
		max-width 990px
		padding 5px 0 15px
		width 100%
