@import '~src/styles/helpers/_colors.styl';
@import '~src/styles/helpers/_fonts.styl';
@import '~src/styles/helpers/_media_queries.styl';

.D-pam-create
  &__add-marker
    width 100%

  &__add-marker
    & svg
      font-size 18px
      margin-right 10px

  &__marker-remove
    color $c-bg-200
    margin-left auto

    & svg
      font-size 20px
      width 20px !important

  &__add-specification
    background-color transparent !important
    color $c-t-300
    display inline-flex
    margin 2px 0 2px 16px
    padding 3px 0
    transition color 250ms cubic-bezier(0.4, 0, 0.2, 1)

    &[disabled]
      color $c-bg-100

    & svg
      font-size 26px
      width 26px !important

  &__specification-remove
    color $c-bg-200
    display block
    height 32px
    margin-left auto
    margin-top 2px
    padding 6px
    width 32px

    &:hover
      background-color alpha($c-bg-100, 0.2)

    & svg
      font-size 20px
