@import '~src/styles/helpers/_colors.styl';
@import '~src/styles/helpers/_fonts.styl';
@import '~src/styles/helpers/_media_queries.styl';

.stock-notfound
	align-items center
	display flex
	flex-direction column
	justify-content center
	height calc(100vh - 50px)

	&__notfound-stock,
	&__create-stock-or-select
		max-width 500px

	&__create-stock-or-select
		text-align center
