@import '~src/styles/helpers/_colors.styl';
@import '~src/styles/helpers/_fonts.styl';
@import '~src/styles/helpers/_media_queries.styl';

.loading
	&__page
		align-items center
		display flex
		justify-content center
		height 100vh

	&__component
		align-items center
		display flex
		flex auto
		justify-content center
