.page {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 90px);
  width: 100%;
}

.component {
  align-items: center;
  display: flex;
  flex: auto;
  justify-content: center;
}

.filteredComponent {
  position: relative;
}

.filteredComponentWrapper {
  transition: opacity 150ms ease-out;
}

.filteredComponentUpdate > .filteredComponentWrapper {
  opacity: 0.7;
  pointer-events: none;
  user-select: none;
}

.filteredComponentLoader {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}
