@import '~src/styles/helpers/_colors.styl';
@import '~src/styles/helpers/_fonts.styl';
@import '~src/styles/helpers/_media_queries.styl';

.sa-positions
  &__table-header-sticky
    & th
      background-color white
      border-bottom-color transparent
      box-shadow 0 1px 0 0 $c-br-5
      position sticky
      top 50px
      z-index 1

      &:first-child
        border-radius 8px 0 0 0

      &:last-child
        border-radius 0 8px 0 0

  &__table-body > &__position:last-child
    & > td:first-child
      border-radius 0 0 0 8px

    & > td:last-child
      border-radius 0 0 8px 0

  &__position-group-name
    color $c-bg-600
    font-weight 800

  &__positions-count
    color $c-bg-300
    font-size 11px
    font-weight 600
    margin-left 5px

  &__price-display-change-icon
    color $c-bg-300
    display inline-block
    font-size 12px
    margin -1px 0 0 5px
    vertical-align middle

    &_red
      color $c-1

    &_green
      color $c-t-A700

  &__position
    transition background-color 150ms ease-out

    &:hover
      background-color $c-br-2

  &__position-group-actions-button,
  &__position-actions-button
    color $c-bg-200
    padding 8px
    width 36px

    &:hover
      background-color alpha($c-bg-100, 0.2)

    & svg
      font-size 20px

  &__position-group-actions
    position absolute
    right 7px
    top 6px

  &__position-group-actions-button,
  &__position-actions-button
    opacity 0
    transition color 150ms ease-out, opacity 150ms ease-out

    &_active
      color $c-bg-300
      opacity 1

  &__position-group:hover &__position-group-actions-button,
  &__position:hover &__position-actions-button
    opacity 1
