@import '~src/styles/helpers/_colors.styl';
@import '~src/styles/helpers/_fonts.styl';
@import '~src/styles/helpers/_media_queries.styl';

.sa-stock-status
	&__title
		color $c-bg-400
		font-size 13px
		font-weight 600

	&__content
		color $c-bg-700
		font-size 15px
		font-weight 600
		margin-left 10px
