.container {
  margin-bottom: 16px;
}

.wrapper {
  margin: -20px -15px;
}

.header {
  padding: 20px 15px;
}

.title {
  color: var(--c-hex-bg-600);
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.title span {
  font-size: 14px;
  margin-right: 2px;
}

.indicatorsTitle {
  color: var(--c-hex-bg-700);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
  text-align: right;
}

.indicatorsSubtitle {
  color: var(--c-hex-bg-300);
  font-size: 12px;
  font-weight: 600;
  margin-top: 7px;
  text-align: right;
}

.indicatorsSubtitle2 {
  color: var(--c-hex-bg-500);
  font-size: 12px;
  font-weight: 700;
  text-align: right;
}

.indicatorsDetails {
  margin-top: 20px;
}

.receipts {
  border-top: 1px solid var(--c-hex-br-5);
}

.positionLink {
  display: block;
  margin: -9px 0;
  padding: 9px 0;
}
