.helpIcon {
  color: var(--c-hex-blueGrey-300);
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin-left: 5px;
  vertical-align: middle;
}

.positions {
  border-top: 1px solid var(--c-hex-brightness-5);
  margin: 0 -20px -12px;
  padding-top: 20px;
}

.addPositionContainer {
  background-color: white;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.addPositionContainer:last-child {
  margin-bottom: 0;
}

.addPositionContainer.disabled {
  display: none;
}

.addPositionWrap {
  padding: 0 20px;
}

.addPositionContainer:global(.stuck) .addPositionWrap {
  box-shadow: 0 2px 2px 0 rgba(var(--c-rgb-blueGrey-300), 0.2);
}

.positionsItems {
  padding: 0 20px;
}

.positionItem {
  margin-bottom: 20px;
}

.positionItem:last-child {
  margin-bottom: 0;
}

.positionItemNumber {
  color: var(--c-hex-blueGrey-300);
  font-size: 14px;
  font-weight: 600;
  width: 35px;
}

.positionItemContent {
  border-bottom: 1px solid var(--c-hex-brightness-5);
  padding-bottom: 20px;
}

.positionItem:last-child .positionItemContent {
  border-bottom: none;
  padding-bottom: 0;
}

.actionButtons {
  margin-left: auto;
}

.editActionButton,
.deleteActionButton {
  padding: 0;
  margin-left: 5px;
}

.editActionButton {
  font-size: 16px;
}

.deleteActionButton {
  font-size: 20px;
}
