@import '~src/styles/helpers/_colors.styl';
@import '~src/styles/helpers/_fonts.styl';
@import '~src/styles/helpers/_media_queries.styl';

.button-link-500
	background none
	border none
	color $c-t-500
	font-size 13px
	font-weight 500

	&:hover
		color $c-t-400
