.container {
  background-color: var(--c-hex-slateGrey-4);
  width: 256px;
}

.wrapper {
  height: 100vh;
  position: sticky;
  top: 0;
  width: 256px;
  z-index: 10;
}

.logo {
  align-items: center;
  background: url('/img/logo_text_sg.svg') no-repeat center center;
  box-sizing: content-box;
  display: flex;
  height: 30px;
  margin: 0 55px 0 24px;
  opacity: 0.45;
  padding: 10px 0;
  position: relative;
  text-decoration: none;
  transition: opacity 250ms ease-in-out;
  width: 98px;
}

.menu {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 10px 0 5px;
  height: calc(100% - 50px);
}

.menuLink {
  border-radius: 8px;
  color: var(--c-hex-slateGrey-2);
  display: flex;
  margin: 0 10px;
  padding: 12px 14px;
  transition: background-color 50ms ease-out;
}

.menuLink:hover {
  background-color: rgba(var(--c-rgb-slateGrey-2), 0.1);
}

.menuLink_active,
.menuLink_active:hover {
  background-color: var(--c-hex-slateGrey-5);
  color: var(--c-hex-teal-A100);
}

.menuLink svg {
  font-size: 16px;
  opacity: 0.5;
  margin-right: 12px;
}

.menuLink:hover svg {
  opacity: 0.7;
}

.menuText {
  font-size: 14px;
  opacity: 0.9;
}

.menuLink_active svg,
.menuLink_active:hover svg,
.menuLink_active .menuText,
.menuLink_active:hover .menuText {
  opacity: 1;
}
