@import '~src/styles/helpers/_colors.styl';
@import '~src/styles/helpers/_fonts.styl';
@import '~src/styles/helpers/_media_queries.styl';

.sidebar
	background-color $c-sg-4
	width 256px

	&__wrap
		height 100vh
		position sticky
		width 256px
		top 0
		z-index 10

	&__logo
		align-items center
		background url('/img/logo_sg.svg') no-repeat center center
		box-sizing content-box
		color $c-sg-2
		display flex
		font-family $comforta
		font-size 26px
		font-weight 700
		height 30px
		margin 0 55px 0 22px
		opacity 0.45
		padding 10px 0
		position relative
		text-decoration none
		transition opacity 250ms ease-in-out
		width 166px

		&:after
			background url('/img/logo_original.svg') no-repeat center center
			content ''
			height 100%
			position absolute
			opacity 0
			transition opacity 250ms ease-in-out
			width 100%

		&:hover
			opacity 1

			&:after
				opacity 1

	&__menu
		display flex
		flex-direction column
		overflow-y auto
		padding 10px 0 5px
		height calc(100% - 50px)

	&__menu-expansion
		background-color transparent
		border-radius 8px
		box-shadow none
		margin 0 10px
		transition background-color 300ms ease-out, border-radius 300ms cubic-bezier(0.4, 0, 0.2, 1), margin 300ms cubic-bezier(0.4, 0, 0.2, 1), padding 300ms cubic-bezier(0.4, 0, 0.2, 1)
		opacity 0.9

		&:hover
			background-color alpha($c-sg-2, 0.1)
			opacity 1

	&__menu-expansion-summary
		padding 0 14px
		transition padding 300ms cubic-bezier(0.4, 0, 0.2, 1)

		&[aria-expanded="true"]
			padding 0 24px

	&__menu-expansion-details
		display block

	&__menu-expansion-title
		align-items center
		color $c-sg-2
		display flex
		font-size 14px
		transition color 300ms cubic-bezier(0.4, 0, 0.2, 1), font-weight 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0.4, 0, 0.2, 1)

	&__menu-expansion-summary[aria-expanded="true"] &__menu-expansion-title
		color $c-sg-1
		font-weight 600
		transform translateX(-34px)

	&__menu-expansion-title-icon
		margin-right 14px
		opacity 0.5
		text-align center
		transition transform 300ms cubic-bezier(0.4, 0, 0.2, 1), opacity 300ms cubic-bezier(0.4, 0, 0.2, 1)
		width 18px

		& svg
			font-size 18px
			max-width 100%

	&__menu-expansion-summary[aria-expanded="true"] &__menu-expansion-title-icon
		opacity 0

	&__menu-item
		padding 0 10px

		&_down
			margin-top auto

	&__menu-link
		align-items center
		border-radius 8px
		color $c-sg-2
		display flex
		font-size 14px
		opacity 0.9
		padding 12px 14px
		text-decoration none
		transition background-color 150ms ease-out, color 150ms ease-out

		&:hover
			background-color alpha($c-sg-2, 0.1)
			opacity 1

		&_active,
		&_active:hover
			background-color $c-sg-5
			color $c-t-A100
			opacity 1

		&_active-expansion,
		&_active-expansion:hover
			color $c-t-A100
			opacity 1

	&__menu-icon
		margin-right 14px
		opacity 0.5
		text-align center
		transition opacity 150ms ease-out
		width 18px

		& svg
			font-size 18px
			max-width 100%

	&__menu-link:hover &__menu-icon
		opacity 0.7

	&__menu-link_active &__menu-icon,
	&__menu-link_active:hover &__menu-icon,
	&__menu-link_active-expansion &__menu-icon,
	&__menu-link_active-expansion:hover &__menu-icon
		opacity 1
