.title {
  border-radius: 8px 8px 0 0;
  position: relative;
}

.titlePrimary {
  background-color: var(--c-hex-teal-300);
  color: white;
}

.titleWhite {
  background-color: white;
  border-bottom: 1px solid var(--c-hex-brightness-5);
  color: var(--c-hex-blueGrey-700);
}

.titleNoTheme {
  background-color: white;
  border-bottom: none;
  color: var(--c-hex-blueGrey-700);
  padding-bottom: 5px;
}

.titleNoContent {
  padding: 0;
}

:global(.stickyTitle) .title {
  position: sticky;
  top: 0;
  z-index: 1100;
}

:global(.stickyTitle) .title:global(.stuck) {
  border-bottom: 1px solid var(--c-hex-blueGrey-50);
  border-radius: 0;
}

.titleText {
  font-size: 18px;
  font-weight: 500;
}

.titleTextCenter {
  text-align: center;
}

.titlePrimary .titleText {
  color: white;
}

.titleWhite .titleText {
  color: var(--c-hex-blueGrey-700);
}

.titleNoTheme .titleText {
  color: var(--c-hex-blueGrey-700);
}

.close {
  bottom: 0;
  margin: auto 0;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 0;
}

.close svg {
  font-size: 20px;
}

.titlePrimary .close {
  color: rgba(255, 255, 255, 0.8);
}

.titlePrimary .close:hover {
  color: white;
}

.titleNoTheme .close {
  bottom: auto;
  top: 10px;
}
