.container {
  background-color: var(--c-hex-br-4);
}

.topContainer {
  position: relative;
}

.loadingForm {
  bottom: 0;
  margin: auto 0;
  position: absolute;
  top: 0;
  right: 15px;
}

.filterButtonLink,
.filterButtonLinkRed {
  background: none;
  border: none;
  display: flex;
  font-size: 13px;
  font-weight: 500;
  padding: 12px 15px;
}

.filterButtonLink {
  color: var(--c-hex-t-500);
}

.filterButtonLink:hover {
  color: var(--c-hex-t-400);
}

.filterButtonLinkRed {
  color: var(--c-hex-o-1);
}

.filterButtonLinkRed:hover {
  color: rgba(var(--c-rgb-o-1), 0.8);
}

.filterButtonLink span,
.filterButtonLinkRed span {
  display: block;
  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.filterButtonLink > svg {
  color: var(--c-hex-t-300);
  font-size: 12px;
  margin: 2px 0 0 5px;
  transform: rotate(0deg);
  transition: color 150ms ease-out;
}

.filterSearchTextFieldContainer {
  background-color: white;
  position: sticky;
  top: 0;
}

.filterSearchTextFieldClear {
  color: var(--c-hex-bg-300);
  font-size: 16px;
  padding: 12px 10px;
  position: absolute;
  right: 0;
  top: 0;
}

.filterSearchTextFieldClear:hover {
  color: var(--c-hex-t-300);
}

.dropdownContent {
  padding: 15px;
}

.dropdownFooter {
  border-top: 1px solid var(--c-hex-br-5);
  padding: 10px 15px;
}

.dropdownContentColumn {
  width: 90px;
}

.dropdownContentSeparated {
  padding: 0 10px;
}

.dropdownFooterColumn {
  text-align: center;
  width: 50%;
}

.textFieldErrorHidden > p {
  display: none;
}

.positionName {
  min-height: 20px;
  width: 100%;
}

.user {
  display: flex;
  width: 100%;
}

.userPhoto {
  background-color: var(--c-hex-br-5);
  height: 32px;
  margin-right: 10px;
  width: 32px;
}

.userIcon {
  align-items: flex-end;
  justify-content: center;
  border: 2px solid var(--c-hex-bg-100);
  border-radius: 50%;
  display: flex;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.userPhoto svg {
  color: rgba(255, 255, 255, 0.9);
  font-size: 24px;
}

.userTitle {
  color: var(--c-hex-bg-600);
  font-size: 13px;
  font-weight: 600;
  line-height: 1.1;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.userCaption {
  color: var(--c-hex-bg-400);
  font-size: 11px;
  line-height: 1.3;
  margin-top: 4px;
}
