.container {
  margin-top: 40px;
}

.empty {
  min-height: calc(100vh - 130px);
  padding-top: 20px;
}

.date {
  margin-bottom: 40px;
}

.dateTitle {
  color: var(--c-hex-bg-500);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.daysWithoutWriteOffs {
  color: var(--c-hex-bg-400);
  font-size: 14px;
  font-weight: 500;
  margin: 16px 0;
}
