.container {
  margin-top: 40px;
}

.none {
  color: var(--c-hex-bg-300);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
}

.date {
  margin-bottom: 40px;
}

.dateTitle {
  color: var(--c-hex-bg-500);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.daysWithoutWriteOffs {
  color: var(--c-hex-bg-400);
  font-size: 14px;
  font-weight: 500;
  margin: 16px 0;
}
