.moneyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
}

.moneyLarge,
.moneySmall {
  line-height: 1;
  white-space: nowrap;
}

.moneyLarge {
  color: var(--c-hex-bg-700);
  font-size: 13px;
  font-weight: 400;
}

.moneySmall {
  color: var(--c-hex-bg-300);
  font-size: 11px;
  font-weight: 600;
  margin-top: 4px;
}

.caption {
  color: var(--c-hex-bg-300);
  font-size: 11px;
  font-weight: 600;
}

.cancelWriteOffButton {
  color: var(--c-hex-bg-200);
  margin-left: 5px;
  padding: 10px 0 10px 5px;
  transition: color 150ms ease-out;
}

.cancelWriteOffButton:hover {
  color: var(--c-hex-bg-300);
}

.cancelWriteOffButton svg {
  font-size: 14px;
}

.positionLink {
  display: block;
  margin: -9px 0;
  padding: 9px 0;
}
