.paper {
  max-height: 226px;
  min-height: 16px;
  overflow-y: auto;
  position: relative;
}

.optionSelected {
  background-color: var(--c-hex-t-300);
  color: white;
  margin: -7px -8px;
  padding: 7px 8px;
  word-break: break-all;
  white-space: initial;
  width: calc(100% + 44px);
}
