@import '~src/styles/helpers/_colors.styl';
@import '~src/styles/helpers/_fonts.styl';
@import '~src/styles/helpers/_media_queries.styl';

.auth-layout
	background linear-gradient(to bottom, $c-sg-3 0%, $c-sg-4 50%, $c-sg-4 100%)
	display flex
	flex-direction column
	min-height 100vh
	padding-bottom 20px
	padding-top 30px
	width 100%

	& .page__inner-content
		margin 0 auto
		max-width 480px
		padding 30px 0 20px
		width 100%

	&__logo
		background url('/images/logo_original.svg') no-repeat center center
		height 33px
		margin 0 auto 0
		width 200px

	&__form
		background-color white
		border-radius 8px
		padding 20px 40px

		& h2
			color $c-bg-800
			font-weight 300
			line-height 1.2
			margin 0 auto 30px
			text-align center
			width 300px

	&__or
		position relative
		text-align center

		& hr
			bottom 0
			margin auto 0
			position absolute
			top 2px
			width 100%

	&__or-text
		background-color white
		color $c-bg-700
		display inline-block
		font-size 14px
		padding 0 10px
		position relative

	&__form-fields
		margin-top 40px

	&__login-btn
		width 100%

	&__bottom-form-info,
	&__bottom-info
		font-size 14px
		line-height 1.4
		margin-top 20px
		text-align center

	&__bottom-form-info
		color $c-bg-400

		& a
			font-size 14px

	&__bottom-info
		color white

		& a
			color white
			font-weight 600
			text-decoration underline

			&:hover
				opacity 0.8

	&__code-of-conduct,
	&__copyright
		color $c-sg-2
		font-size 14px
		line-height 1.4
		margin-top auto
		text-align center

	&__code-of-conduct
		& a
			color $c-t-A200
			font-weight 600

			&:hover
				color alpha($c-t-A200, 0.8)

	&__copyright
		font-weight 600
