@import '~src/styles/helpers/_colors.styl';
@import '~src/styles/helpers/_fonts.styl';
@import '~src/styles/helpers/_media_queries.styl';

.stock-settings
	& .page__inner-content
		padding 20px

	&__container
		top 0

		@media (min-width: $media-lg)
			position sticky
			top 72px
