.container {
  position: relative;
}

.wrapOverflow {
  overflow: hidden;
}

.wrapScroll {
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  z-index: 1;
}

.wrapScroll {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none !important;
}

.wrapScroll::-webkit-scrollbar {
  display: none;
}

.wrapContent {}
