.container {
  margin-top: 40px;
}

.empty {
  min-height: calc(100vh - 216px);
  padding-top: 20px;
}

.title {
  color: var(--c-hex-bg-500);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}
