.actionButton {
  padding: 0;
}

.comment {
  color: var(--c-hex-blueGrey-500);
  cursor: pointer;
  font-size: 12px;
  margin-left: 10px;
  transition: color 150ms ease-out;
}

.comment:hover {
  color: var(--c-hex-teal-400);
}

.commentText {
  max-width: 300px;
  white-space: break-spaces;
  word-break: break-word;
}
