.actionButton {
  color: var(--c-hex-bg-200);
  height: 32px;
  padding: 0;
  width: 32px;
}

.actionButtonActive,
.actionButtonActive:hover {
  background-color: rgba(var(--c-rgb-bg-100), 0.4);
  color: var(--c-hex-bg-300);
}
