.buttonLink {
  background: none;
  border: none;
  display: inline-block;
  color: var(--c-hex-t-500);
  font-size: 13px;
  font-weight: 500;
}

.buttonLink:hover {
  color: var(--c-hex-t-400);
}

.quantity {
  display: inline-flex;
}

.status {
  border-radius: 100%;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  height: 10px;
  margin-right: 10px;
  width: 10px;
}

.statusRed {
  background-color: var(--c-hex-o-1);
}

.statusGreen {
  background-color: var(--c-hex-t-A700);
}

.statusYellow {
  background-color: var(--c-hex-o-15);
}

.caption {
  color: var(--c-hex-bg-300);
  font-size: 11px;
  font-weight: 600;
}

.tooltipContainer {
  cursor: pointer;
  display: inline-block;
}

.sellingPrice {
  display: flex;
  align-items: center;
}

.changeSellingPrice {
  color: var(--c-hex-t-300);
  margin-left: 5px;
  padding: 6px;
}

.changeSellingPrice:hover {
  color: var(--c-hex-t-400);
}

.changeSellingPrice svg {
  font-size: 12px;
}
