.buttonLink {
  background: none;
  border: none;
  display: inline-block;
  color: var(--c-hex-teal-500);
  font-size: 13px;
  font-weight: 500;
}

.buttonLink:hover {
  color: var(--c-hex-teal-400);
}

.quantity {
  display: inline-flex;
}

.status {
  font-size: 13px;
  font-weight: 600;
}

.statusRed {
  color: var(--c-hex-red-500);
}

.statusGreen {
  color: var(--c-hex-teal-A700);
}

.statusYellow {
  color: var(--c-hex-orange-500);
}

.caption {
  color: var(--c-hex-blueGrey-300);
  font-size: 11px;
  font-weight: 600;
}

.tooltipContainer {
  cursor: pointer;
  display: inline-block;
}

.sellingPrice {
  display: flex;
  align-items: center;
}

.changeSellingPrice {
  color: var(--c-hex-teal-300);
  font-size: 12px;
  margin-left: 5px;
  padding: 6px;
}

.changeSellingPrice:hover {
  color: var(--c-hex-teal-400);
}
