.positionGroupName {
  color: var(--c-hex-blueGrey-600);
  font-weight: 800;
}

.positionGroupActions {
  align-items: center;
  display: flex;
  height: 54px;
  position: absolute;
  right: 7px;
  top: 1px;
}
