.empty {
  min-height: calc(100vh - 194px);
}

.date {
  margin-bottom: 40px;
}

.date:last-child {
  margin-bottom: 0;
}

.dateTitle {
  color: var(--c-hex-bg-500);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 24px;
}
