.container {
  background-color: white;
  margin-bottom: 40px;
}

.topContainer {
  position: relative;
}

.bottomContainer {
  align-items: center;
  display: flex;
}

.bottomContainerItem {
  align-items: center;
  display: flex;
}

.loadingForm {
  bottom: 0;
  margin: auto 0;
  position: absolute;
  top: 0;
  right: 15px;
}

.filterButtonLink {
  background: none;
  border: none;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  padding: 12px 15px;
}

.filterButtonLink {
  color: var(--c-hex-teal-500);
}

.filterButtonLink:hover {
  color: var(--c-hex-teal-400);
}

.filterButtonLink span {
  display: block;
  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.filterButtonLink > svg {
  color: var(--c-hex-teal-300);
  font-size: 14px;
  margin: 2px 0 0 5px;
  transform: rotate(0deg);
  transition: color 150ms ease-out;
}

.filterButtonLinkReset {
  color: var(--c-hex-blueGrey-300);
  font-size: 14px;
  margin-left: -10px;
  padding: 14px 10px 12px 0;
  transition: color 150ms ease-out;
}

.filterButtonLinkReset:hover {
  color: var(--c-hex-blueGrey-500);
}

.filterButtonResetAll {
  color: var(--c-hex-red-500);
  padding: 6px;
}

.filterButtonOnlyCanceled {
  border-radius: 4px;
  font-size: 14px;
  margin: 4px;
  padding: 0;
}

.filterButtonOnlyCanceledActive,
.filterButtonOnlyCanceledActive:hover {
  background-color: var(--c-hex-teal-50);
  color: var(--c-hex-teal-300);
}

.filterSearchTextFieldContainer {
  border-bottom: 1px solid var(--c-hex-brightness-5);
}

.filterSearchTextFieldClear {
  color: var(--c-hex-blueGrey-300);
  font-size: 16px;
  padding: 12px 16px 12px 10px;
  position: absolute;
  right: 0;
  transition: color 150ms ease-out;
  top: 0;
}

.filterSearchTextFieldClear:hover {
  color: var(--c-hex-blueGrey-600);
}

.dropdownContent {
  padding: 15px;
}

.dropdownFooter {
  border-top: 1px solid var(--c-hex-brightness-5);
  padding: 10px 15px;
}

.dropdownContentColumn {
  width: 90px;
}

.dropdownContentSeparated {
  padding: 0 10px;
}

.dropdownFooterColumn {
  text-align: center;
  width: 50%;
}

.textFieldErrorHidden > p {
  display: none;
}

.positionName {
  width: 100%;
}
