.empty {
  min-height: calc(100vh - 172px);
}

.date {
  margin-bottom: 40px;
}

.dateTitle {
  color: var(--c-hex-blueGrey-500);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.daysWithoutWriteOffs {
  color: var(--c-hex-blueGrey-400);
  font-size: 14px;
  font-weight: 500;
  margin: 16px 0;
}
