.container {
  margin-bottom: 16px;
}

.wrapper {
  margin: -20px -15px;
}

.header {
  cursor: pointer;
  user-select: none;
  padding: 20px 15px 0;
}

.title {
  color: var(--c-hex-bg-500);
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
}

.title {
  margin-bottom: 10px;
}

.title span {
  font-size: 14px;
  margin-right: 2px;
}

.indicators {
  height: 100%;
  margin-left: auto;
  width: 300px;
}

.indicatorsTitle {
  color: var(--c-hex-bg-700);
  font-size: 18px;
  font-weight: 700;
  text-align: right;
}

.indicatorsSubtitle {
  color: var(--c-hex-bg-300);
  font-size: 12px;
  font-weight: 600;
  margin-top: 7px;
  text-align: right;
}

.usersContainer {
  display: flex;
  margin-left: -2px;
}

.users {
  display: flex;
}

.user {
  border-radius: 50%;
  margin-right: -10px;
  transition: margin 150ms ease-out, padding 150ms ease-out;
}

.user:first-child:hover + .user {
  margin-left: 6px;
  padding-left: 6px;
}

.user:not(:first-child):hover {
  margin: 0 -4px 0 6px;
  padding: 0 6px;
}

.userPhoto {
  border: 2px solid white;
  height: 32px;
  width: 32px;
}

.remainingUsersButton {
  background-color: var(--c-hex-bg-50);
  align-items: center;
  border-radius: 28px;
  color: var(--c-hex-bg-500);
  display: flex;
  font-size: 12px;
  font-weight: 700;
  margin: 2px 0 2px 14px;
  padding: 0 10px;
  transition: margin 150ms ease-out
}

.remainingUsersButton:hover {
  color: var(--c-hex-t-500);
}

.user:hover + .remainingUsersButton {
  margin-left: 2px;
}

.allUsersPopup {
  padding: 7px 40px 7px 7px;
}

.closePopup {
  color: var(--c-hex-bg-200);
  position: absolute;
  padding: 4px;
  right: 10px;
  top: 10px;
}

.usersPopup {
  display: flex;
  flex-wrap: wrap;
}

.userPopup {
  cursor: pointer;
  margin: 3px;
}

.detailsButton {
  background: none;
  border: none;
  color: var(--c-hex-bg-200);
  display: flex;
  margin-top: -3px;
  padding-bottom: 5px;
  transition: margin-top 150ms ease-out, padding-top 150ms ease-out;
  width: 100%;
}

.detailsButton:global(.open) {
  margin-top: 0;
  padding-top: 3px;
}

.detailsButton svg {
  font-size: 18px;
  transform: rotateX(0deg);
  transition: color 150ms ease-out, transform 150ms ease-out;
  width: 18px !important;
}

.detailsButton svg:global(.open) {
  transform: rotateX(180deg);
}

.receipts {
  border-top: 1px solid var(--c-hex-br-5);
  margin-top: 20px;
}
