@import '~src/styles/helpers/_colors.styl';
@import '~src/styles/helpers/_fonts.styl';
@import '~src/styles/helpers/_media_queries.styl';

.us-profile-settings
	&__photo
		text-align center

	&__personal-data
		max-width calc(100% - (155px + 24px))

	&__photo-img
		border-radius 8px
		box-shadow 0 0 0 5px $c-bg-100
		display flex
		justify-content center
		height 150px
		margin 0 5px 10px
		overflow hidden
		width 150px

		&_null
			align-items flex-end
			background-color $c-br-5

			& svg
				color alpha(white, 0.7)
				font-size 140px
				margin-bottom -15px

		& img
			max-height 100%
			width auto
